<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fx:aupitGap.xs="0">
  <div fxFlex="40">
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>{{dish.name}}</mat-card-title>
        <mat-card-subtitle>Category: {{dish.category}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>
          {{dish.description}}
        </p>
        <p matLine>Label: {{dish.label}}</p>
        <p matLine>Price: {{dish.price}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">Back</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex="40">
    <mat-list *ngIf="dish">
      <mat-list-item *ngFor="let comment of dish.comments">
      <p matLine>{{comment.comment}}</p>
      <p matLine>{{comment.rating}} Stars</p>
      <p matLine>{{comment.comment}}</p>
      <p matLine><span>--{{comment.author  }}</span> <span> &nbsp;&nbsp;{{comment.date | date}}</span></p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
